force-app/main/default/flows/Campaign_Member_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigns the UTM field value from the related Lead/Contact record to the corresponding UTM Field on the Campaign Member.</description>
        <name>Update_UTM_Fields</name>
        <label>Update UTM Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_UTM_Campaign_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentUTMCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_UTM_Source_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentUTMSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_UTM_Content_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentUTMContent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_UTM_Medium_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentUTMMedium</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_UTM_Term_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MostRecentUTMTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Category_T__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadCategory</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks whether the Campaign Member is linked to either a Lead or a Contact.</description>
        <name>Check_for_Lead_and_Contact</name>
        <label>Check for Lead and Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_OR_Contact_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UTM_Fields</targetReference>
            </connector>
            <label>Lead OR Contact Populated</label>
        </rules>
    </decisions>
    <description>Populates UTM fields on new Campaign Member record creation by pulling values from related Lead or Contact records.</description>
    <environments>Default</environments>
    <formulas>
        <name>LeadCategory</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Lead.Lead_Category__c})), TEXT({!$Record.Contact.Lead_Category__c}), TEXT({!$Record.Lead.Lead_Category__c}))</expression>
    </formulas>
    <formulas>
        <name>MostRecentUTMCampaign</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Lead.Most_Recent_UTM_Campaign__c}), {!$Record.Contact.Most_Recent_UTM_Campaign__c}, {!$Record.Lead.Most_Recent_UTM_Campaign__c})</expression>
    </formulas>
    <formulas>
        <name>MostRecentUTMContent</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Lead.Most_Recent_UTM_Content__c}), {!$Record.Contact.Most_Recent_UTM_Content__c}, {!$Record.Lead.Most_Recent_UTM_Content__c})</expression>
    </formulas>
    <formulas>
        <name>MostRecentUTMMedium</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Lead.Most_Recent_UTM_Medium__c}), {!$Record.Contact.Most_Recent_UTM_Medium__c}, {!$Record.Lead.Most_Recent_UTM_Medium__c})</expression>
    </formulas>
    <formulas>
        <name>MostRecentUTMSource</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Lead.Most_Recent_UTM_Source__c}), {!$Record.Contact.Most_Recent_UTM_Source__c}, {!$Record.Lead.Most_Recent_UTM_Source__c})</expression>
    </formulas>
    <formulas>
        <name>MostRecentUTMTerm</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Lead.Most_Recent_UTM_Term__c}), {!$Record.Contact.Most_Recent_UTM_Term__c}, {!$Record.Lead.Most_Recent_UTM_Term__c})</expression>
    </formulas>
    <interviewLabel>Campaign Member Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Lead_and_Contact</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
