force-app/main/default/flows/Case_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Closed_Alert_Commission_Bonus</name>
        <label>Case Closed Alert - Commission/Bonus</label>
        <locationX>4274</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Closed_Alert_Commission_Bonus</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Closed_Alert_Commission_Bonus</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Case_Create_Alert_SalesOps</name>
        <label>Case Create Alert SalesOps</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Create_Alert_SalesOps</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Create_Alert_SalesOps</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Case_In_Progress_Alert_Commission_Bonus</name>
        <label>Case In-Progress Alert - Commission/Bonus</label>
        <locationX>4010</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_In_Progress_Alert_Commission_Bonus</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_In_Progress_Alert_Commission_Bonus</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Case_Update_Email</name>
        <label>Case Update Email</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Update_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Update_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Case_Update_Email_Alert_SalesOps</name>
        <label>Case Update Email Alert SalesOps</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Update_Email_Alert_SalesOps</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Update_Email_Alert_SalesOps</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Commission_Bonus_Case_Create</name>
        <label>Commission/Bonus Case Create</label>
        <locationX>3746</locationX>
        <locationY>755</locationY>
        <actionName>Case.Commission_Bonus_Case_Create_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Commission_Bonus_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Commission_Bonus_Case_Create_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Alert_Deal_Desk</name>
        <label>Create Alert Deal Desk</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Create_Alert_Deal_Desk</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Get_Support_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Create_Alert_Deal_Desk</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Deal_Desk_Email_Alert</name>
        <label>Deal Desk Email Alert</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Update_Email_Alert_Deal_Desk</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Update_Email_Alert_Deal_Desk</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finance_Case_Creation</name>
        <label>Finance Case Creation</label>
        <locationX>4802</locationX>
        <locationY>863</locationY>
        <actionName>Case.Finance_Case_Creation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Owner_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Finance_Case_Creation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finance_Case_Creation_for_Finance_Team</name>
        <label>Finance Case Creation for Finance Team</label>
        <locationX>4802</locationX>
        <locationY>1163</locationY>
        <actionName>Case.Finance_Case_Creation_Email_for_Finance_Team</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Finance_Case_Creation_Email_for_Finance_Team</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finance_Case_Status_Updated_to_Approved</name>
        <label>Finance Case Status Updated to Approved</label>
        <locationX>5594</locationX>
        <locationY>755</locationY>
        <actionName>Case.Finance_Case_Status_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Region</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Finance_Case_Status_Approved</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Finance</description>
        <name>Finance_Case_Status_Updated_to_Closed</name>
        <label>Finance Case Status Updated to Closed</label>
        <locationX>6386</locationX>
        <locationY>755</locationY>
        <actionName>Case.Finance_Case_Status_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Finance_Case_Status_Closed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Finance_Case_Status_Updated_to_Rejected</name>
        <label>Finance Case Status Updated to Rejected</label>
        <locationX>6122</locationX>
        <locationY>755</locationY>
        <actionName>Case.Finance_Case_Status_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Finance_Case_Status_Rejected</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>International_Email</name>
        <label>International_Email</label>
        <locationX>5594</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>InternationalEmailsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply@everbridge.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>International_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>International_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Legal_Case_Assigned_Email_Alert</name>
        <label>Legal Case Assigned Email Alert</label>
        <locationX>3218</locationX>
        <locationY>755</locationY>
        <actionName>Case.Legal_Case_Assigned_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Legal_Case_Assigned_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Legal_Case_Closed_Email_Alert</name>
        <label>Legal Case Closed Email Alert</label>
        <locationX>2954</locationX>
        <locationY>755</locationY>
        <actionName>Case.Legal_Case_Closed_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Legal_Case_Closed_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Legal_Case_Create_Email_Alert</name>
        <label>Legal Case Create Email Alert</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <actionName>Case.Legal_Case_Create_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Legal_Case_Create_Email_For_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Legal_Case_Create_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Legal_Case_Create_Email_For_Team</name>
        <label>Legal Case Create Email For Team</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <actionName>Case.Legal_Case_Create_Email_Alert_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Legal_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Legal_Case_Create_Email_Alert_Team</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>New_Configuration_Case_Created</name>
        <label>New Configuration Case Created</label>
        <locationX>6914</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Create_Configuration_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Create_Configuration_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>North_America_Email</name>
        <label>North_America_Email</label>
        <locationX>5330</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>NorthAmericaEmailsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply@everbridge.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>North_America_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>North_America_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_on_Case_Creation</name>
        <label>Send Email on Case Creation</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Case.Case_Create_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Support_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Create_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>User_Active_Status</name>
        <label>User Active Status</label>
        <locationX>5792</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>userstatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedBy.IsActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Active_Decision</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>InternationalEmailsList</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEAbilling@everbridge.com,Finance-credits@everbridge.com,creditcontrol@everbridge.co.uk</stringValue>
        </value>
    </constants>
    <constants>
        <name>NorthAmericaEmailsList</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance-credits@everbridge.com,Accountsreceivable@everbridge.com,Billing@everbridge.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Admin_Integration_User_Check</name>
        <label>Admin Integration User Check</label>
        <locationX>2558</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Legal_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Admin_Integration_User_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Case_Create_Email_Alert</targetReference>
            </connector>
            <label>Non Admin Integration User Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Created_Email</name>
        <label>Check Created Email</label>
        <locationX>4934</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Owner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Email</name>
            <conditionLogic>1 AND (NOT(2))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Invalid_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Case_Creation</targetReference>
            </connector>
            <label>Valid Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Email</name>
        <label>Check Owner Email</label>
        <locationX>4934</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Owner_Email</name>
            <conditionLogic>(NOT(1)) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Invalid_Text</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Case_Creation_for_Finance_Team</targetReference>
            </connector>
            <label>Valid Owner Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Region</name>
        <label>Check Region</label>
        <locationX>5594</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>North_America</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North America</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>North_America_Email</targetReference>
            </connector>
            <label>North America</label>
        </rules>
        <rules>
            <name>International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_Email</targetReference>
            </connector>
            <label>International</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commission_Case_Email</name>
        <label>Commission Case Email</label>
        <locationX>4142</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commission_Case_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Bonus_Case_Create</targetReference>
            </connector>
            <label>Commission Case Create</label>
        </rules>
        <rules>
            <name>Commission_Case_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_In_Progress_Alert_Commission_Bonus</targetReference>
            </connector>
            <label>Commission Case Assignment</label>
        </rules>
        <rules>
            <name>Commission_Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closed_Alert_Commission_Bonus</targetReference>
            </connector>
            <label>Commission Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Check_for_Profile_in_Create_Scenarion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Create_Alert_SalesOps</targetReference>
            </connector>
            <label>Check for Profile in Create Scenarion</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_Check_for_Case_update</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_Email_Alert_SalesOps</targetReference>
            </connector>
            <label>Check for Case update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finance_Case_Email</name>
        <label>Finance Case Email</label>
        <locationX>5792</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Creation_Email_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Created_Email</targetReference>
            </connector>
            <label>Case Creation Email Alert</label>
        </rules>
        <rules>
            <name>Status_Approved</name>
            <conditionLogic>1 AND 2 AND 3 AND (NOT(4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Invalid_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Case_Status_Updated_to_Approved</targetReference>
            </connector>
            <label>Status Approved</label>
        </rules>
        <rules>
            <name>Status_Closed_Invalid</name>
            <conditionLogic>1 AND 2 AND (NOT(3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Invalid_Text</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Case_Status_Updated_to_Rejected</targetReference>
            </connector>
            <label>Status Closed Invalid</label>
        </rules>
        <rules>
            <name>Status_Closed</name>
            <conditionLogic>1 AND 2 AND 3 AND (NOT(4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Invalid_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Case_Status_Updated_to_Closed</targetReference>
            </connector>
            <label>Status Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ISNEW</name>
        <label>ISNEW</label>
        <locationX>7046</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNEWYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEWFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Configuration_Case_Created</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ISNEW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Case_Email</name>
        <label>Legal Case Email</label>
        <locationX>3020</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legal_Case_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Integration_User_Check</targetReference>
            </connector>
            <label>Legal Case Create</label>
        </rules>
        <rules>
            <name>Closed_Legal_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Case_Closed_Email_Alert</targetReference>
            </connector>
            <label>Closed Legal Case</label>
        </rules>
        <rules>
            <name>Assigned_Legal_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Case_Assigned_Email_Alert</targetReference>
            </connector>
            <label>Assigned Legal Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Creation</name>
        <label>Record Creation</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Profile_in_Create_Scenarion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_on_Case_Creation</targetReference>
            </connector>
            <label>Check for Profile in Create Scenarion</label>
        </rules>
        <rules>
            <name>Check_for_Case_update</name>
            <conditionLogic>(1 OR 2 OR 3 )AND (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User Testing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Update_Email</targetReference>
            </connector>
            <label>Check for Case update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>3878</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Creation</targetReference>
            </connector>
            <label>Salesforce Support</label>
        </rules>
        <rules>
            <name>Account_Opportunity_Quote_Assistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account/Opportunity/Quote Assistance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert</targetReference>
            </connector>
            <label>Account/Opportunity/Quote Assistance</label>
        </rules>
        <rules>
            <name>SalesOpsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SalesOps Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Email_Alert</targetReference>
            </connector>
            <label>SalesOpsCase</label>
        </rules>
        <rules>
            <name>Legal_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Case Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Case_Email</targetReference>
            </connector>
            <label>Legal Case</label>
        </rules>
        <rules>
            <name>Commission_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commission/Bonus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commission_Case_Email</targetReference>
            </connector>
            <label>Commission case</label>
        </rules>
        <rules>
            <name>Finance_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Case_Email</targetReference>
            </connector>
            <label>Finance Case</label>
        </rules>
        <rules>
            <name>Configuration_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Configuration Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ISNEW</targetReference>
            </connector>
            <label>Configuration Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_for_Profile_in_Create_Scenarion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account/Opportunity/Quote Assistance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Alert_Deal_Desk</targetReference>
            </connector>
            <label>Copy 1 of Check for Profile in Create Scenarion</label>
        </rules>
        <rules>
            <name>Copy_1_of_Check_for_Case_update</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Integration_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_Desk_Email_Alert</targetReference>
            </connector>
            <label>Copy 1 of Check for Case update</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Active_Decision</name>
        <label>User Active Decision</label>
        <locationX>5792</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Check</targetReference>
            </connector>
            <label>Active User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEWFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>RecordCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Legal_Queue</name>
        <label>Copy 1 of Get Legal Queue</label>
        <locationX>2690</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Legal_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal_Review_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Support_Queue</name>
        <label>Get Support Queue</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesOpps_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Commission_Bonus_Queue</name>
        <label>Get Commission/Bonus Queue</label>
        <locationX>3746</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Commission_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commission_Bonus_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Queue</name>
        <label>Get Legal Queue</label>
        <locationX>2426</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Legal_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal_Review_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Queue</name>
        <label>Get Support Queue</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce_Support_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Legal_Case_Owner</name>
        <label>Copy 1 of Update Legal Case Owner</label>
        <locationX>2690</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_Legal_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commission_Case_Owner</name>
        <label>Update Commission Case Owner</label>
        <locationX>3746</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Commission_Bonus_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legal_Case_Owner</name>
        <label>Update Legal Case Owner</label>
        <locationX>2426</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Legal_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>5666</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Active_Status</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>International_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Owner_Name__c} has approved the following finance case &lt;a href=&quot;{!$Label.Finance_Case_Case_Number}{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Please click the link above to complete any remaining work on this case. Once you are finished, please click &apos;Close Case&apos; checkbox to close this case.&lt;/p&gt;
&lt;p&gt;Thank you,&lt;br&gt;Finance Case Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>International_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Subject} Finance Case Approved</text>
    </textTemplates>
    <textTemplates>
        <name>North_America_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Owner_Name__c} has approved the following finance case &lt;a href=&quot;{!$Label.Finance_Case_Case_Number}{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;Please click the link above to complete any remaining work on this case. Once you are finished, please click &apos;Close Case&apos; checkbox to close this case. &lt;/p&gt;&lt;p&gt;Thank you,&lt;br&gt;
Finance Case Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>North_America_Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Subject} Finance Case Approved</text>
    </textTemplates>
    <variables>
        <description>invalid</description>
        <name>Invalid_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OWNERNAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userstatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
