force-app/main/default/flows/Submit_Internal_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>SalesOpsCaseCRaeted_Action_1</name>
        <label>SalesOpsCaseCRaeted Action 1</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>Case.SalesOpsCaseCRaeted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>QueryCase</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CreatedCaseRecordID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SalesOpsCaseCRaeted</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Account</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Actions</name>
        <choiceText>Account Actions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Actions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Creation</name>
        <choiceText>Account Creation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Creation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Data</name>
        <choiceText>Account Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Hierarchy</name>
        <choiceText>Account Hierarchy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Hierarchy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Hierarchy_Updates</name>
        <choiceText>Account Hierarchy Updates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Hierarchy Updates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Account_Name_Changes</name>
        <choiceText>Account Name Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Name Changes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Amendment</name>
        <choiceText>Amendment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amendment</stringValue>
        </value>
    </choices>
    <choices>
        <name>APAC</name>
        <choiceText>APAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Approval_Issue</name>
        <choiceText>Approval Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approval Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Calculation_Explanation</name>
        <choiceText>Calculation Explanation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calculation Explanation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>CEM_for_Business_Operations</name>
        <choiceText>CEM for Business Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CEM for Business Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>CEM_for_Digital_ITA</name>
        <choiceText>CEM for Digital - ITA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CEM for Digital -ITA</stringValue>
        </value>
    </choices>
    <choices>
        <name>CEM_for_Digital_xMatters</name>
        <choiceText>CEM for Digital - xMatters</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CEM for Digital - xMatters</stringValue>
        </value>
    </choices>
    <choices>
        <name>CEM_for_People_Resilience</name>
        <choiceText>CEM for People Resilience</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CEM for People Resilience</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cleanup</name>
        <choiceText>Cleanup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cleanup</stringValue>
        </value>
    </choices>
    <choices>
        <name>CLM_Assistance</name>
        <choiceText>CLM Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLM Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Close_Plan</name>
        <choiceText>Close Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_Terms</name>
        <choiceText>Co-Terms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-Terms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Comp</name>
        <choiceText>Comp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comp </stringValue>
        </value>
    </choices>
    <choices>
        <name>Connect_And_Sell</name>
        <choiceText>Connect-And-Sell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connect-And-Sell</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consolidations</name>
        <choiceText>Consolidations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consolidations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract</name>
        <choiceText>Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corrections_or_Change_requests</name>
        <choiceText>Corrections or Change requests</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corrections or Change requests</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPAi</name>
        <choiceText>CPAi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPAi</stringValue>
        </value>
    </choices>
    <choices>
        <name>CPAi_Assistance</name>
        <choiceText>CPAi Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CPAi Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Configuration_Case</name>
        <choiceText>Create Configuration Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Configuration Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Finance_Case</name>
        <choiceText>Create Finance Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ValueCreateFinanceCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Legal_Case</name>
        <choiceText>Create Legal Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Legal Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateCommissionBonusCase</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Create Commission/Bonus Case&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ValueCreateCommissionBonusCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateFinanceCase</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Create Finance Case&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ValueCreateFinanceCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateLegalCase</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Create Legal Case&lt;/span&gt;&lt;ul&gt;&lt;li&gt;Miscellaneous Questions&lt;/li&gt;&lt;li&gt;RFP Submissions&lt;/li&gt;&lt;li&gt;Contract Redline Should Be Submitted Via CLM&lt;/li&gt;&lt;/ul&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ValueCreateLegalCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Adjustment</name>
        <choiceText>Credit Adjustment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Adjustment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_and_Rebill</name>
        <choiceText>Credit and Rebill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit and Rebill</stringValue>
        </value>
    </choices>
    <choices>
        <name>Credit_Calculations</name>
        <choiceText>Credit Calculations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit Calculations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dashboards</name>
        <choiceText>Dashboards</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dashboards</stringValue>
        </value>
    </choices>
    <choices>
        <name>Data_Cleanup</name>
        <choiceText>Data Cleanup</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Cleanup</stringValue>
        </value>
    </choices>
    <choices>
        <name>Data_Quality</name>
        <choiceText>Data Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>Data_Submission</name>
        <choiceText>Data Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>Datsa_related_document_management</name>
        <choiceText>Datsa related document management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Datsa related document management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deal_related_document_management</name>
        <choiceText>Deal related document management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal related document management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deal_Structure</name>
        <choiceText>Deal Structure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal Structure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deal_Stuck</name>
        <choiceText>Deal Stuck</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deal Stuck</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discount_Approval_Override</name>
        <choiceText>Discount Approval Override</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discount Approval Override</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discount_Approvals</name>
        <choiceText>Discount Approvals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discount Approvals</stringValue>
        </value>
    </choices>
    <choices>
        <name>DPA_Review</name>
        <choiceText>DPA Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DPA Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Duplicate_Issues</name>
        <choiceText>Duplicate Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicate Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edits_to_Closed_Won_Opps</name>
        <choiceText>Edits to Closed Won Opps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Edits to Closed Won Opps</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enhancement_Request</name>
        <choiceText>Enhancement Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enhancement Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Error_Received</name>
        <choiceText>Error Received</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Error Received </stringValue>
        </value>
    </choices>
    <choices>
        <name>FinancialForce</name>
        <choiceText>FinancialForce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FinancialForce</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forecast_Module</name>
        <choiceText>Forecast Module</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forecast Module</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forecast_Questions</name>
        <choiceText>Forecast Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forecast Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full_Circle_Insight</name>
        <choiceText>Full Circle Insight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Circle Insight</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Questions</name>
        <choiceText>General Questions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Questions</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Request</name>
        <choiceText>General Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>GMC</name>
        <choiceText>GMC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GMC</stringValue>
        </value>
    </choices>
    <choices>
        <name>International</name>
        <choiceText>International</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>International</stringValue>
        </value>
    </choices>
    <choices>
        <name>LATAM</name>
        <choiceText>LATAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LATAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>LeanData</name>
        <choiceText>LeanData</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LeanData</stringValue>
        </value>
    </choices>
    <choices>
        <name>LinkedIn_Sales_Navigator</name>
        <choiceText>LinkedIn Sales Navigator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LinkedIn Sales Navigator</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSA_Review</name>
        <choiceText>MSA Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSA Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>NDA</name>
        <choiceText>NDA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NDA</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Plan_Document_HR_Comp_Only</name>
        <choiceText>New Plan Document (HR &amp;amp; Comp Only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Plan Document (HR &amp; Comp Only)</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>North_America</name>
        <choiceText>North America</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>North America</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Data</name>
        <choiceText>Opportunity Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity_Moves</name>
        <choiceText>Opportunity Moves</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity Moves</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order</name>
        <choiceText>Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Processing_Closed_Opportunities</name>
        <choiceText>Order Processing/Closed Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Processing/Closed Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Order_Processing_Deal_Desk_Questions_For_Legal</name>
        <choiceText>DMT Questions for Legal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Order Processing / Deal Desk Questions For Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_General_Question</name>
        <choiceText>Other / General Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other / General Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Miscellaneous_questions</name>
        <choiceText>Other (Miscellaneous questions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (Miscellaneous questions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outreach</name>
        <choiceText>Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment_Issue</name>
        <choiceText>Payment Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payment Issue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payments_Change</name>
        <choiceText>Payments Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payments Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>PDF_Edits</name>
        <choiceText>PDF Edits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PDF Edits</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing</name>
        <choiceText>Pricing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pricing_Discounts</name>
        <choiceText>Pricing/Discounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pricing/Discounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Primary_Quote_Change</name>
        <choiceText>Primary Quote Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary Quote Change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product</name>
        <choiceText>Product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Questions_help_related_to_lightning</name>
        <choiceText>Questions help related to lightning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions help related to lightning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quote</name>
        <choiceText>Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quote_Document</name>
        <choiceText>Quote Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote Document</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quote_PO_SOW</name>
        <choiceText>Quote/PO/SOW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote/PO/SOW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quotes_Open_Opportunities</name>
        <choiceText>Quotes / Open Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quotes / Open Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quotes_Opportunities</name>
        <choiceText>Quotes / Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quotes / Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewal_Credit_Request</name>
        <choiceText>Renewal Credit Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal Credit Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renewal_Exception</name>
        <choiceText>Renewal Exception</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal Exception</stringValue>
        </value>
    </choices>
    <choices>
        <name>Report</name>
        <choiceText>Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting</name>
        <choiceText>Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reports</name>
        <choiceText>Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reports</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reset_Start_Stop</name>
        <choiceText>Reset Start/Stop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reset Start/Stop</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFP</name>
        <choiceText>RFP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFP</stringValue>
        </value>
    </choices>
    <choices>
        <name>SFDC_Assistance</name>
        <choiceText>SFDC Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SFDC Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Skus_Products</name>
        <choiceText>Skus/Products</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Skus/Products</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spiff</name>
        <choiceText>Spiff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spiff</stringValue>
        </value>
    </choices>
    <choices>
        <name>Split_Request</name>
        <choiceText>Split Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Split Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stage_Drops</name>
        <choiceText>Stage Drops</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stage Drops</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Inquiry</name>
        <choiceText>Status Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubmitNewSalesOpsCase</name>
        <choiceText>Submit SalesOps Case&lt;ul&gt;&lt;li&gt;Moving Territories&lt;/li&gt;&lt;li&gt;Non - Quote Data Items&lt;/li&gt;&lt;li&gt;Reporting&lt;/li&gt;&lt;li&gt;Split Request&lt;/li&gt;&lt;/ul&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ValueSubmitNewSalesOpsCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubmitSalesforceSupportCase</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Submit Salesforce Support Case&lt;/span&gt;&lt;ul&gt;&lt;li&gt;System Enhancements and Error Messages&lt;/li&gt;&lt;/ul&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ValueSubmitSalesforceSupportCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>SubmitSalesOpsCase</name>
        <choiceText>&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Submit Deal Management Case&lt;/span&gt;&lt;ul&gt;&lt;li&gt;General quote help/deal structure&lt;/li&gt;&lt;li&gt;Help with CLM&lt;/li&gt;&lt;/ul&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ValueSubmitSalesOpsCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>SwagIQ</name>
        <choiceText>SwagIQ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SwagIQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tech_Stack_Support</name>
        <choiceText>Tech Stack Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tech Stack Support </stringValue>
        </value>
    </choices>
    <choices>
        <name>Territory_Changes</name>
        <choiceText>Territory Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Territory Changes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Territory_Management</name>
        <choiceText>Territory Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Territory Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>test</name>
        <choiceText>test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Totango</name>
        <choiceText>Totango</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Totango</stringValue>
        </value>
    </choices>
    <choices>
        <name>Training</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upgrades</name>
        <choiceText>Upgrades</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrades</stringValue>
        </value>
    </choices>
    <choices>
        <name>US</name>
        <choiceText>US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>Validate_Credit_Calculation</name>
        <choiceText>Validate Credit Calculation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Validate Credit Calculation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Waive_Invoice</name>
        <choiceText>Waive Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waive Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6Sense</name>
        <choiceText>6Sense</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6Sense</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Zift</name>
        <choiceText>Zift</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Zift</stringValue>
        </value>
    </choices>
    <choices>
        <name>Zoom_Info</name>
        <choiceText>Zoom Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Zoom Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>ZoomInfo</name>
        <choiceText>ZoomInfo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ZoomInfo</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Case_type</name>
        <label>Check Case type</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>QueryCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Type_is_Submit_Salesforce_Support_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ValueSubmitSalesforceSupportCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Submit_Salesforce_Support_Case</targetReference>
            </connector>
            <label>Case Type is Submit Salesforce Support Case</label>
        </rules>
        <rules>
            <name>Case_Type_is_Submit_SalesOps_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ValueSubmitSalesOpsCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_SalesOps_Case</targetReference>
            </connector>
            <label>Case Type is Submit SalesOps Case</label>
        </rules>
        <rules>
            <name>Case_Type_is_SubmitNewSalesopsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ValueSubmitNewSalesOpsCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_New_Salesops_Case</targetReference>
            </connector>
            <label>Case Type is SubmitNewSalesopsCase</label>
        </rules>
        <rules>
            <name>Case_Type_is_Create_Legal_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ValueCreateLegalCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Legal_Case</targetReference>
            </connector>
            <label>Case Type is Create Legal Case</label>
        </rules>
        <rules>
            <name>Case_Type_is_create_Finance_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ValueCreateFinanceCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinanceCasescreen</targetReference>
            </connector>
            <label>Case Type is create Finance Case</label>
        </rules>
        <rules>
            <name>Case_Type_is_create_Configuration_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Configuration_Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configuration_Screen</targetReference>
            </connector>
            <label>Case Type is create Configuration Case</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConfigurationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Configuration_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductLine</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Line__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelevantProductPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relevant_Products__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AccountcreationDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Account Name: &quot; +  {!NewSalesOpscaseAccountNAme} + BR()+
&quot;Account Record Type: &quot; + {!NewSalesOpscaseAccount_Record_Type} + BR()+
&quot;Industry: &quot; + {!NewSalesOpsCaseIndustry} + BR()+
&quot;Billing Address: &quot; + {!NewSalesOpscaseBilling_Address} + BR()+
&quot;Account Currency: &quot; + {!Account_Currency}+ BR()+
&quot;Legal Entity Name: &quot; + {!NewSalesOpsCaseLegal_Entity_Name} + BR()+
&quot;Phone: &quot; + {!NewSalesOpsCasePhone} + BR()+
&quot;Website: &quot;+ &quot;&quot; + BR()+
&quot; # Of Employees (Non SLG): &quot; +{!NewSalesopsCaseOf_Employees_Non_SLG} + BR()+
&quot;Population Served (SLG): &quot; + {!NewSalesopscasePopulation_Served_SLG}</expression>
    </formulas>
    <formulas>
        <name>CaseLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://everbridge--devrishabh.sandbox.lightning.force.com/&quot;+{!CreatedCaseRecordID},{!QueryCase.CaseNumber} )</expression>
    </formulas>
    <formulas>
        <name>DescriptionFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Multiyear contract&quot;  + &quot; - &quot;  +{!Is_the_Customer_on_a_Multi_Year_Contract}  +BR()+ 
&quot;Request Amount &quot; + &quot; - &quot;  + TEXT({!FinancecaseRequest_Amount})  +BR()+ 
&quot;Description &quot;  + &quot; - &quot;  + {!FinanceCaseDescription}</expression>
    </formulas>
    <formulas>
        <name>FInancecaseAccount</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!FinanceCaseAccountname.recordId})),{!FinanceCaseAccountname.recordId},
{!FinanceCaseGetOpportunityRecord.AccountId} )</expression>
    </formulas>
    <formulas>
        <name>legalcaseAccount</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!legalCaseQuoteField.recordId})),{!Legal_Case_Get_Quote.SBQQ__Opportunity2__r.AccountId},
IF(NOT(ISBLANK({!LegalCaseOpportunity.recordId})),{!Legal_case_get_Opportunity.AccountId},

&quot;&quot;
))</expression>
    </formulas>
    <formulas>
        <name>LegalCaseOpportunityToUpdate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!LegalCaseOpportunity.recordId})), {!LegalCaseOpportunity.recordId},
IF(NOT(ISBLANK({!legalCaseQuoteField.recordId})),{!Legal_Case_Get_Quote.SBQQ__Opportunity2__c},
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>NDAExcludedFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!LegalcaseNDA_Executed} = True ,True, False)</expression>
    </formulas>
    <formulas>
        <name>NewSalesopsCaseSubtype</name>
        <dataType>String</dataType>
        <expression>IF({!NewSalesopscaseType}=&quot;Territory Management&quot;,   {!NewSalesopscaseSubtypeTerritoryManagement},
IF({!NewSalesopscaseType}=&quot;Comp&quot;, {!NewSalesopscaseSubtypeComp},
IF({!NewSalesopscaseType}=&quot;Opportunity&quot;, {!NewSalesopscaseSubtypeOpportunity},
IF({!NewSalesopscaseType}=&quot;Data Quality&quot;, {!NewSalesopscaseSubtypedataQuality},
IF({!NewSalesopscaseType}=&quot;Reporting&quot;, {!NewSalesopscaseSubtypReporting},
&quot;&quot;
)))))</expression>
    </formulas>
    <formulas>
        <name>NewSalesOpsDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>IF ({!NewSalesopscaseSubtypedataQuality}=&quot;Account Creation&quot;,{!AccountcreationDescription},{!NewSalesOpsDescription})</expression>
    </formulas>
    <formulas>
        <name>NSOC1</name>
        <dataType>String</dataType>
        <expression>&quot;Moving Territories&quot;</expression>
    </formulas>
    <formulas>
        <name>NSOC2</name>
        <dataType>String</dataType>
        <expression>&quot;Non - Quote Data Items&quot;</expression>
    </formulas>
    <formulas>
        <name>NSOC3</name>
        <dataType>String</dataType>
        <expression>&quot;Reporting&quot;</expression>
    </formulas>
    <formulas>
        <name>NSOC4</name>
        <dataType>String</dataType>
        <expression>&quot;Split Request&quot;</expression>
    </formulas>
    <formulas>
        <name>ProposedOffer</name>
        <dataType>String</dataType>
        <expression>IF( {!SalesopsCaseType}=&quot;Quotes / Open Opportunities&quot;,  {!SalesopscaseSubtypeQuotesOpenOpportunities},
IF( {!SalesopsCaseType}=&quot;CLM Assistance&quot;,  {!SalesopscaseSubtypeQuotesCLMAssistance},
IF( {!SalesopsCaseType}=&quot;Order Processing/Closed Opportunities&quot;, {!SalesopscaseSubtypeorderprocessingclosedopp},
&quot;&quot;))
)</expression>
    </formulas>
    <formulas>
        <name>SalesforceCaseOpportunitytoUpdate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SalesOpsCaseOpportunity.recordId})),{!SalesOpsCaseOpportunity.recordId},
IF(NOT(ISBLANK({!SalesforceCaseAffectedQuote.recordId})),{!Salesforce_case_Get_Quote_Records.SBQQ__Opportunity2__c},&quot;&quot;
))</expression>
    </formulas>
    <formulas>
        <name>SalesforceCaseOpportunityupdate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SalesforceCaseAffectedOpportunity.recordId})),{!SalesforceCaseAffectedOpportunity.recordId},
IF(NOT(ISBLANK({!SalesforceCaseAffectedQuote.recordId})),{!Salesforce_case_Get_Quote_Records.SBQQ__Opportunity2__c},&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>SalesforceCasePriority</name>
        <dataType>String</dataType>
        <expression>IF(
OR(
AND({!SalesforceCaseType}=&quot;Error Received&quot;,{!SalesforceCaseSubtypeErrorRecived}=&quot;Opportunity&quot;),
AND( {!SalesforceCaseType}=&quot;Error Received&quot;,{!SalesforceCaseSubtypeErrorRecived}=&quot;Quote&quot;)
),
&quot;Level 2 - High&quot;,  &quot;Level 3 - Medium&quot;)</expression>
    </formulas>
    <formulas>
        <name>SalesforceCaseSalesforceSupportCategory</name>
        <dataType>String</dataType>
        <expression>IF(  {!SalesforceCaseType} =&quot;Tech Stack Support&quot;, &quot;Integrated Tool Support&quot;,
IF(  {!SalesforceCaseType} =&quot;Enhancement Request&quot;, &quot;User Request&apos;&quot;,
IF(  {!SalesforceCaseType} =&quot;General Request&quot;, &quot;User Support&quot;,

 {!SalesforceCaseType} 

 )))</expression>
    </formulas>
    <formulas>
        <name>SalesforceCaseSubCategory</name>
        <dataType>String</dataType>
        <expression>IF( {!SalesforceCaseType} = &quot;Error Received&quot;,  {!SalesforceCaseSubtypeErrorRecived} ,
IF( {!SalesforceCaseType} = &quot;Tech Stack Support&quot;, {!SalesforceCaseSubtypeTechStackSupport} ,
IF( {!SalesforceCaseType} = &quot;SFDC Assistance&quot;, {!SalesforcecaseSubtypeSFDCAssistance} ,
&quot;&quot;)

))</expression>
    </formulas>
    <formulas>
        <name>SalesOpsAccounttoupdate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SalesopsQuote.recordId})),{!Sales_Ops_Get_Quote_Records.SBQQ__Opportunity2__r.AccountId},
IF(NOT(ISBLANK({!SalesOpsCaseOpportunity.recordId})),{!SalesOps_Get_Opportunity_Record.AccountId},

&quot;&quot;
))</expression>
    </formulas>
    <formulas>
        <name>SalesOpsOpportunityToUpdate</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!SalesOpsCaseOpportunity.recordId})), {!SalesOpsCaseOpportunity.recordId},
IF(NOT(ISBLANK({!SalesopsQuote.recordId})),{!Sales_Ops_Get_Quote_Records.SBQQ__Opportunity2__c},
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>SLAApprovedformula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!legalcaseSLA_Approved} = True ,True, False)</expression>
    </formulas>
    <formulas>
        <name>SOC1</name>
        <dataType>String</dataType>
        <expression>&quot;General quote help/deal structure&quot;</expression>
    </formulas>
    <formulas>
        <name>SOC2</name>
        <dataType>String</dataType>
        <expression>&quot;Help with CLM&quot;</expression>
    </formulas>
    <formulas>
        <name>SOC3</name>
        <dataType>String</dataType>
        <expression>&quot;Help applying discounts&quot;</expression>
    </formulas>
    <formulas>
        <name>SOC4</name>
        <dataType>String</dataType>
        <expression>&quot;Help with co-terming growth and upgrades and credit calculations&quot;</expression>
    </formulas>
    <formulas>
        <name>SOC5</name>
        <dataType>String</dataType>
        <expression>&quot;Non-Legal PDF edits/modifications&quot;</expression>
    </formulas>
    <formulas>
        <name>SOC6</name>
        <dataType>String</dataType>
        <expression>&quot;CLM questions&quot;</expression>
    </formulas>
    <formulas>
        <name>SOC7</name>
        <dataType>String</dataType>
        <expression>&quot;Deal review prior to moving opportunity to stage 6 (closed won)&quot;</expression>
    </formulas>
    <formulas>
        <name>SOC8</name>
        <dataType>String</dataType>
        <expression>&quot;Account Hierarchy Updates&quot;</expression>
    </formulas>
    <interviewLabel>Submit Internal Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Internal Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Config_Case</name>
        <label>Create Config Case</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>CreatedCaseRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>QueryCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountNameConfigurationCase.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionConfigutrationCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G34000003V6Qk</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Product_Line_configurationCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01234000000GHgKAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>RegionConfigurationcase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectConfigurationCase</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_FinanceCase</name>
        <label>Create Finance Case</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CreatedCaseRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>QueryCase</targetReference>
        </connector>
        <inputAssignments>
            <field>ARR_Manual__c</field>
            <value>
                <elementReference>FinancecaseARR_Manual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>FInancecaseAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Renewal_Date_Manual__c</field>
            <value>
                <elementReference>FinanceCaseContract_Renewal_Date_Manual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>FinanceCaseOpportunity.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.FinanceCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>FinancecaseCase_Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FinanceCaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>FinanceCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Salesforce_Support_Case</name>
        <label>Create Salesforce Support Case</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CreatedCaseRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>QueryCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Affected_Account__c</field>
            <value>
                <elementReference>SalesforceCaseAffectedAccount.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affected_Contact__c</field>
            <value>
                <elementReference>SalesforceCaseAffectedContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affected_Users__c</field>
            <value>
                <elementReference>SalesforceCaseAffected_Users</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>SalesforceSupportCaseAffectedContract.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Salesforce_Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>SalesforceCaseAffectedLead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_DD__c</field>
            <value>
                <elementReference>SalesforceCaseOpportunitytoUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>SalesforceCaseAffectedOrder.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>SFDC User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>SalesforceCasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>SalesforceCaseAffectedProduct.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_DD__c</field>
            <value>
                <elementReference>SalesforceCaseAffectedQuote.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Salesforce_Support_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Support_Category__c</field>
            <value>
                <elementReference>SalesforceCaseSalesforceSupportCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesforce_Support_Sub_Category__c</field>
            <value>
                <elementReference>SalesforceCaseSubCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Steps_to_Reproduce__c</field>
            <value>
                <elementReference>SalesforceCaseSteps_To_Reproduce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Salesforce_Case_Summary</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_SalesOps_Case</name>
        <label>Create SalesOps Case</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>CreatedCaseRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>QueryCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SalesOpsAccounttoupdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Desk_Support_Category__c</field>
            <value>
                <elementReference>SalesopsCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SalesOpsCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_DD__c</field>
            <value>
                <elementReference>SalesOpsOpportunityToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Level 3 - Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Offer__c</field>
            <value>
                <elementReference>ProposedOffer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_DD__c</field>
            <value>
                <elementReference>SalesopsQuote.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Account_Opportunity_Quote_Assistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unassigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SalesOpsCaseSummary</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateLegalCaseRecord</name>
        <label>CreateLegalCase</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>CreatedCaseRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>QueryCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>legalcaseAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LegalcaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Fees__c</field>
            <value>
                <elementReference>LegalCaseEstimated_Fees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Case_Type__c</field>
            <value>
                <elementReference>LegalcaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_RFP_Deadline__c</field>
            <value>
                <elementReference>LegalcaseLegal_RFP_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NDA_Executed__c</field>
            <value>
                <elementReference>NDAExcludedFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_DD__c</field>
            <value>
                <elementReference>LegalCaseOpportunityToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>SFDC User</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Level 3 - Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Products_Being_Proposed__c</field>
            <value>
                <elementReference>Products_Being_Proposed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_DD__c</field>
            <value>
                <elementReference>legalCaseQuoteField.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFP_Deadline__c</field>
            <value>
                <elementReference>LegalcaseRFP_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RFP__c</field>
            <value>
                <elementReference>LegalCaseRFP.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Legal_Case_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Approved__c</field>
            <value>
                <elementReference>SLAApprovedformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>LegalCaseCustomerName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNewSalesOpsCase</name>
        <label>CreateNewSalesOpsCase</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CreatedCaseRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>SalesOpsCaseCRaeted_Action_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>New_SalesOpsCase_get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NewSalesOpsDescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>NewSalesOpsNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_DD__c</field>
            <value>
                <elementReference>New_SalesOpsCase_get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.SalesOpsCaseQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Level 3 - Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.SalesOpsrecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOps_Case_Sub_Type__c</field>
            <value>
                <elementReference>NewSalesopsCaseSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOps_Case_Type__c</field>
            <value>
                <elementReference>NewSalesopscaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewSalesOpsSummary</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Share_Records</name>
        <label>Share Records</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Add_Attachment_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CreatedCaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FinanceCaseGetOpportunityRecord</name>
        <label>FinanceCaseGetOpportunityRecord</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_FinanceCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinanceCaseOpportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Legal_case_get_Opportunity</name>
        <label>Legal case get Opportunity</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateLegalCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalCaseOpportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Legal_Case_Get_Quote</name>
        <label>Legal Case Get Quote</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_case_get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>legalCaseQuoteField.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_SalesOpsCase_get_Opportunity</name>
        <label>New SalesOpsCase get Opportunity</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewSalesOpsCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewSalesopscaseOpportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueryCase</name>
        <label>Query Case</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_on_Legal_and_Finance_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedCaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Sales_Ops_Get_Quote_Records</name>
        <label>Sales ops Get Quote Records</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SalesOps_Get_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesopsQuote.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Salesforce_case_Get_Quote_Records</name>
        <label>Salesforce case Get Quote Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Salesforce_Support_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesforceCaseAffectedQuote.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SalesOps_Get_Opportunity_Record</name>
        <label>SalesOps Get Opportunity Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SalesOps_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOpsCaseOpportunity.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_on_Legal_and_Finance_Case</name>
        <label>Update Account on Legal and Finance Case</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Share_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueryCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_DD__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Account_Opportunity_Quote_Assistance</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Legal_Case_Record_Type</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>QueryCase.Opportunity_DD__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Attachment_Screen</name>
        <label>Add Attachment Screen</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Arial, sans-serif; color: rgb(77, 81, 86);&quot;&gt; Thank you for providing the required details  &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!QueryCase.Case_HyperLink_for_flow__c} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(77, 81, 86); font-size: 16px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, Arial, sans-serif;&quot;&gt;Case has been Created. If there are additional documents required for the case please upload below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UploadAttachment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CreatedCaseRecordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileNames</name>
            <fieldText>&lt;p&gt;Uploaded Files : {!UploadAttachment.fileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Configuration_Screen</name>
        <label>Configuration Screen</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Config_Case</targetReference>
        </connector>
        <fields>
            <name>Configuration_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configuration_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfiguartinCaseImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CaseImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configuration_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfigurationCase</name>
                    <fieldText>&lt;p&gt;Configuration Case&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RegionConfigurationcase</name>
            <choiceReferences>EMEA</choiceReferences>
            <choiceReferences>North_America</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product_Line_configurationCase</name>
            <choiceReferences>ProductLine</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Line</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountNameConfigurationCase</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SubjectConfigurationCase</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DescriptionConfigutrationCase</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinanceCasescreen</name>
        <label>FinanceCasescreen</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FinanceCaseGetOpportunityRecord</targetReference>
        </connector>
        <fields>
            <name>FinanceCasescreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FinanceCasescreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinanceCaseImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CaseImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FinanceCasescreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinanceCaseDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Finance Case&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinanceCaseType</name>
            <choiceReferences>Payments_Change</choiceReferences>
            <choiceReferences>Waive_Invoice</choiceReferences>
            <choiceReferences>Credit_and_Rebill</choiceReferences>
            <choiceReferences>Other_Miscellaneous_questions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinancecaseCase_Region</name>
            <choiceReferences>International</choiceReferences>
            <choiceReferences>North_America</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinanceCaseSubject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinanceCaseDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_the_Customer_on_a_Multi_Year_Contract</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the Customer on a Multi Year Contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinancecaseRequest_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Request Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinancecaseARR_Manual</name>
            <dataType>Currency</dataType>
            <fieldText>ARR - Manual</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinanceCaseContract_Renewal_Date_Manual</name>
            <dataType>String</dataType>
            <fieldText>Contract Renewal Date - Manual</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinanceCaseOpportunity_AVailable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Opportunity Available</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FinanceCaseOpportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FinanceCaseOpportunity_AVailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FinanceCaseAccountname</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FinanceCaseOpportunity_AVailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Case_type</name>
            <choiceReferences>SubmitSalesOpsCase</choiceReferences>
            <choiceReferences>SubmitNewSalesOpsCase</choiceReferences>
            <choiceReferences>SubmitSalesforceSupportCase</choiceReferences>
            <choiceReferences>CreateLegalCase</choiceReferences>
            <choiceReferences>Create_Finance_Case</choiceReferences>
            <choiceReferences>Create_Configuration_Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Legal_Case</name>
        <label>Screen : Legal Case</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Legal_Case_Get_Quote</targetReference>
        </connector>
        <fields>
            <name>Screen_Legal_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Legal_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LegalCaseImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CaseImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Legal_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadCaseDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Legal Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>legalTypedsiplay</name>
            <fieldText>&lt;h1&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Insurance requests or questions should be sent to coirequests@everbridge.com&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LegalcaseType</name>
            <choiceReferences>RFP</choiceReferences>
            <choiceReferences>Other_General_Question</choiceReferences>
            <choiceReferences>Order_Processing_Deal_Desk_Questions_For_Legal</choiceReferences>
            <choiceReferences>Account_Name_Changes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LegalcaseQuote_Number_Available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Quote Number Available</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>legalCaseQuoteField</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Affected_Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseQuote_Number_Available</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LegalCaseOpportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity_DD__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseQuote_Number_Available</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LegalCaseCustomerName</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LegalcaseDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LegalCaseRFP</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>RFP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>RFP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RFP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LegalcaseRFP_Deadline</name>
            <dataType>Date</dataType>
            <fieldText>RFP Deadline</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RFP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LegalcaseLegal_RFP_Deadline</name>
            <dataType>Date</dataType>
            <fieldText>Legal RFP Deadline</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RFP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LegalCaseEstimated_Fees</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Fees</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RFP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Products_Being_Proposed</name>
            <dataType>String</dataType>
            <fieldText>Products Being Proposed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RFP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LegalcaseNDA_Executed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>NDA Executed?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RFP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>legalcaseSLA_Approved</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>SLA Approved? (if applicable)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LegalcaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RFP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;h1&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Insurance requests or questions should be sent to coirequests@everbridge.com&lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_New_Salesops_Case</name>
        <label>Screen : New Salesops Case</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_SalesOpsCase_get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Screen_New_Salesops_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_New_Salesops_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseImageNewSalesops</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CaseImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_New_Salesops_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewSalesopscasedisplaytext</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;SalesOps Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewSalesopscaseType</name>
            <choiceReferences>Territory_Management</choiceReferences>
            <choiceReferences>Comp</choiceReferences>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Data_Quality</choiceReferences>
            <choiceReferences>Reporting</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewSalesopscaseSubtypeTerritoryManagement</name>
            <choiceReferences>Territory_Changes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Territory Management</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesopscaseSubtypeComp</name>
            <choiceReferences>Split_Request</choiceReferences>
            <choiceReferences>Renewal_Credit_Request</choiceReferences>
            <choiceReferences>Credit_Adjustment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Comp</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesopscaseSubtypeOpportunity</name>
            <choiceReferences>Opportunity_Moves</choiceReferences>
            <choiceReferences>Deal_Stuck</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Opportunity</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesopscaseSubtypedataQuality</name>
            <choiceReferences>ZoomInfo</choiceReferences>
            <choiceReferences>Duplicate_Issues</choiceReferences>
            <choiceReferences>Account_Hierarchy</choiceReferences>
            <choiceReferences>Account_Creation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Data Quality</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesopscaseSubtypReporting</name>
            <choiceReferences>Forecast_Module</choiceReferences>
            <choiceReferences>Dashboards</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reporting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountCreationText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 29, 53); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 13.3333px; background-color: rgb(255, 255, 255);&quot;&gt;Please attempt account creation from Account Contact Search in the first instance (see &lt;/span&gt;&lt;a href=&quot;https://my.allego.com/play.do?contentId=5081841&amp;amp;sch=207434&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 13.3333px; background-color: rgb(255, 255, 255);&quot;&gt;https://my.allego.com/play.do?contentId=5081841&amp;amp;amp;sch=207434&lt;/a&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; font-size: 13.3333px; background-color: rgb(255, 255, 255);&quot;&gt;). If this does not provide any results, please populate the following information:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpscaseAccountNAme</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpscaseAccount_Record_Type</name>
            <choiceReferences>AccountRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpsCaseIndustry</name>
            <choiceReferences>Industry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpscaseBilling_Address</name>
            <fieldText>Billing Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account_Currency</name>
            <choiceReferences>Currency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpsCaseLegal_Entity_Name</name>
            <dataType>String</dataType>
            <fieldText>Legal Entity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpsCaseWebsite</name>
            <dataType>String</dataType>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpsCasePhone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesopsCaseOf_Employees_Non_SLG</name>
            <dataType>String</dataType>
            <fieldText># Of Employees (Non SLG)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesopscasePopulation_Served_SLG</name>
            <dataType>String</dataType>
            <fieldText>Population Served (SLG)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesopscaseOpportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity_DD__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Opportunity</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpsSummary</name>
            <dataType>String</dataType>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewSalesOpsDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewSalesopscaseSubtypedataQuality</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Account_Creation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewSalesOpsNotes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SalesOps_Case</name>
        <label>Screen : SalesOps Case</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sales_Ops_Get_Quote_Records</targetReference>
        </connector>
        <fields>
            <name>Screen_SalesOps_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_SalesOps_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesOpsCaseImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CaseImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_SalesOps_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesOpsCaseDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Deal Management Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesopsCaseType</name>
            <choiceReferences>CLM_Assistance</choiceReferences>
            <choiceReferences>Order_Processing_Closed_Opportunities</choiceReferences>
            <choiceReferences>Quotes_Open_Opportunities</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesopscaseSubtypeQuotesOpenOpportunities</name>
            <choiceReferences>Co_Terms</choiceReferences>
            <choiceReferences>Corrections_or_Change_requests</choiceReferences>
            <choiceReferences>Credit_Calculations</choiceReferences>
            <choiceReferences>Deal_Structure</choiceReferences>
            <choiceReferences>Pricing_Discounts</choiceReferences>
            <choiceReferences>Quote_Document</choiceReferences>
            <choiceReferences>Reset_Start_Stop</choiceReferences>
            <choiceReferences>Skus_Products</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesopsCaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Quotes / Open Opportunities</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesopscaseSubtypeQuotesCLMAssistance</name>
            <choiceReferences>Cleanup</choiceReferences>
            <choiceReferences>Deal_related_document_management</choiceReferences>
            <choiceReferences>General_Questions</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesopsCaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CLM Assistance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesopscaseSubtypeorderprocessingclosedopp</name>
            <choiceReferences>Edits_to_Closed_Won_Opps</choiceReferences>
            <choiceReferences>Primary_Quote_Change</choiceReferences>
            <choiceReferences>Stage_Drops</choiceReferences>
            <choiceReferences>Status_Inquiry</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesopsCaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Order Processing/Closed Opportunities</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesopscaseQuoteNumberAvailable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>QuoteNumberAvailable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesopsQuote</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Affected_Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesopscaseQuoteNumberAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesOpsCaseOpportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity_DD__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesopscaseQuoteNumberAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesOpsCaseSummary</name>
            <dataType>String</dataType>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesOpsCaseDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Submit_Salesforce_Support_Case</name>
        <label>Screen : Submit Salesforce Support Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Salesforce_case_Get_Quote_Records</targetReference>
        </connector>
        <fields>
            <name>Screen_Submit_Salesforce_Support_Case_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Submit_Salesforce_Support_Case_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CaseImage</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>25</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Submit_Salesforce_Support_Case_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesforceCaseHeader</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Salesforce Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesforceCaseType</name>
            <choiceReferences>Enhancement_Request</choiceReferences>
            <choiceReferences>Error_Received</choiceReferences>
            <choiceReferences>General_Request</choiceReferences>
            <choiceReferences>Tech_Stack_Support</choiceReferences>
            <choiceReferences>SFDC_Assistance</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesforceCaseSubtypeErrorRecived</name>
            <choiceReferences>Account</choiceReferences>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Lead</choiceReferences>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Quote</choiceReferences>
            <choiceReferences>Report</choiceReferences>
            <choiceReferences>Product</choiceReferences>
            <choiceReferences>Order</choiceReferences>
            <choiceReferences>Contract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Error_Received</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseSubtypeTechStackSupport</name>
            <choiceReferences>X6Sense</choiceReferences>
            <choiceReferences>Close_Plan</choiceReferences>
            <choiceReferences>Connect_And_Sell</choiceReferences>
            <choiceReferences>CPAi</choiceReferences>
            <choiceReferences>FinancialForce</choiceReferences>
            <choiceReferences>Full_Circle_Insight</choiceReferences>
            <choiceReferences>LeanData</choiceReferences>
            <choiceReferences>LinkedIn_Sales_Navigator</choiceReferences>
            <choiceReferences>Outreach</choiceReferences>
            <choiceReferences>SwagIQ</choiceReferences>
            <choiceReferences>Totango</choiceReferences>
            <choiceReferences>Zift</choiceReferences>
            <choiceReferences>ZoomInfo</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Tech_Stack_Support</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforcecaseSubtypeSFDCAssistance</name>
            <choiceReferences>Training</choiceReferences>
            <choiceReferences>Questions_help_related_to_lightning</choiceReferences>
            <choiceReferences>Reports</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subtype</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>SFDC_Assistance</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseAffectedAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Affected_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Account</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseAffectedContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Affected_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseAffectedLead</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Lead__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Lead</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseAffectedOpportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity_DD__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Opportunity</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseAffectedQuote</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Affected_Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Quote</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseAffectedProduct</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ProductId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Product</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceCaseAffectedOrder</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Order</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesforceSupportCaseAffectedContract</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contract__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>Case</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SalesforceCaseSubtypeErrorRecived</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Contract</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Salesforce_Case_Summary</name>
            <dataType>String</dataType>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Salesforce_Case_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesforceCaseAffected_Users</name>
            <dataType>String</dataType>
            <fieldText>Affected Users</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SalesforceCaseSteps_To_Reproduce</name>
            <fieldText>Steps To Reproduce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalCaseOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegalCaseQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOpsOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOpsQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
