force-app/main/default/flows/Update_ZoomInfo_Related_Account_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Account_Update_List</name>
        <label>Add To Account Update List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lstAccountUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjAccountUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Account_Is_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sobjZoomInfo</name>
        <label>Assign sobjZoomInfo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjZoomInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_ZoomInfo_Record_For_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Latest_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sobjZoomInfo_1</name>
        <label>Assign sobjZoomInfo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjZoomInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sobjZoomInfo_2</name>
        <label>Assign sobjZoomInfo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjZoomInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_AccountId</name>
        <label>Populate AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DOZISF__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Latest_ZoomInfo_Record_For_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_AccountId_1</name>
        <label>Populate AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.DOZISF__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Latest_ZoomInfo_Record_For_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Annual_Revenue_On_Account</name>
        <label>Set Annual Revenue On Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Annual_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnualRevenueFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IT_Budget_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IT_Budget_On_Account</name>
        <label>Set IT Budget On Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.IT_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ITBudgetFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Update_Account_Is_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Locations_On_Account</name>
        <label>Set Number of Locations On Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Number_of_Locations_ZoomInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfLocationsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Annual_Revenue_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Industry_On_Account</name>
        <label>Set Primary Industry On Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Primary_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjZoomInfo.DOZISF__Primary_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Website_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Website_On_Account</name>
        <label>Set Website On Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>websiteFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjAccountUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Locations_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Annual_Revenue_Check</name>
        <label>Annual Revenue Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IT_Budget_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Annual_Revenue_Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Annual_Revenue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AnnualRevenueFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Annual_Revenue_On_Account</targetReference>
            </connector>
            <label>If Annual Revenue  Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Latest_Record</name>
        <label>Check For Latest Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Triggering_Record_Is_Latest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Latest_ZoomInfo_Record_For_Account.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sobjZoomInfo_2</targetReference>
            </connector>
            <label>If Triggering Record Is Latest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Account_Is_Updated</name>
        <label>Check If Account Is Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Account_Update_List_Not_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_If_Account_Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.DOZISF__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Populate_AccountId_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Populate_AccountId_1</targetReference>
            </connector>
            <label>Outcome 1 of Check If Account Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Account_Populated</name>
        <label>Check If Account Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert_Account_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_AccountId</targetReference>
            </connector>
            <label>Insert - Account Populated</label>
        </rules>
        <rules>
            <name>Update_Account_Populated</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4 OR 5 OR 6 OR 7 OR 8</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Primary_Industry__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Revenue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__IT_Department_Budget__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Number_of_Locations__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_AccountId</targetReference>
            </connector>
            <label>Update - Account Populated</label>
        </rules>
        <rules>
            <name>Update_Account_IS_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DOZISF__Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_AccountId_1</targetReference>
            </connector>
            <label>Update - Account IS Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_Update_List_Not_Empty</name>
        <label>If Account Update List Not Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstAccountUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_List</targetReference>
            </connector>
            <label>List Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_AccountId_updated_to_blank_1</name>
        <label>If AccountId updated to blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_sobjZoomInfo_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AccountId_updated_to_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Populate_AccountId_1</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Fields_To_Blank</targetReference>
            </connector>
            <label>If AccountId updated to blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Update_Account_Is_Set</name>
        <label>If Update Account Is Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_If_Account_Is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjAccountUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjAccountUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Account_Update_List</targetReference>
            </connector>
            <label>Is Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_ZoomInfo_Record_Found</name>
        <label>If ZoomInfo Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_AccountId_updated_to_blank_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZoomInfo_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_ZoomInfo_Record_For_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sobjZoomInfo</targetReference>
            </connector>
            <label>ZoomInfo Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IT_Budget_Check</name>
        <label>IT Budget Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Update_Account_Is_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_IT_Budget_Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.IT_Budget__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ITBudgetFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IT_Budget_On_Account</targetReference>
            </connector>
            <label>If IT Budget Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Locations_Check</name>
        <label>Number of Locations Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Annual_Revenue_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Number_of_Locations_Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Number_of_Locations_ZoomInfo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NoOfLocationsFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Number_of_Locations_On_Account</targetReference>
            </connector>
            <label>If Number of Locations Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Industry_Check</name>
        <label>Primary Industry Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Website_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Primary_Industry_Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Primary_Industry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>sobjZoomInfo.DOZISF__Primary_Industry__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Industry_On_Account</targetReference>
            </connector>
            <label>If Primary Industry Not Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Website_Check</name>
        <label>Website Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Number_of_Locations_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Website_Not_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Website__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>websiteFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Website_On_Account</targetReference>
            </connector>
            <label>If Website Not Same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AnnualRevenueFormula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!sobjZoomInfo.DOZISF__Revenue__c} = null, ISNULL({!sobjZoomInfo.DOZISF__Revenue__c})), &apos;Unknown&apos;, 
IF({!sobjZoomInfo.DOZISF__Revenue__c} &gt; 856501500, &apos;Very High&apos;, 
IF({!sobjZoomInfo.DOZISF__Revenue__c} &gt; 96330000, &apos;High&apos;, 
IF({!sobjZoomInfo.DOZISF__Revenue__c} &gt; 17276000, &apos;Medium&apos;, 
&apos;Low&apos;))))</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ITBudgetFormula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!sobjZoomInfo.DOZISF__IT_Department_Budget__c} = null, ISNULL({!sobjZoomInfo.DOZISF__IT_Department_Budget__c})), &apos;Unknown&apos;, 
IF({!sobjZoomInfo.DOZISF__IT_Department_Budget__c} &gt; 33019500, &apos;Very High&apos;, 
IF({!sobjZoomInfo.DOZISF__IT_Department_Budget__c} &gt; 3663000, &apos;High&apos;, 
IF({!sobjZoomInfo.DOZISF__IT_Department_Budget__c} &gt; 623000, &apos;Medium&apos;, 
&apos;Low&apos;))))</expression>
    </formulas>
    <formulas>
        <name>NoOfLocationsFormula</name>
        <dataType>String</dataType>
        <expression>IF({!ZoomInfoNoOfLocations} = 0, &apos;Unknown&apos;, 
IF({!ZoomInfoNoOfLocations}&gt; 132, &apos;Very High&apos;, 
IF({!ZoomInfoNoOfLocations}&gt;= 27, &apos;High&apos;, 
IF({!ZoomInfoNoOfLocations}&gt;= 5, &apos;Mid&apos;, 
&apos;Low&apos;))))</expression>
    </formulas>
    <formulas>
        <name>websiteFormula</name>
        <dataType>String</dataType>
        <expression>IF(OR({!sobjZoomInfo.DOZISF__Website__c} = null, ISBLANK({!sobjZoomInfo.DOZISF__Website__c})), &apos;NO&apos;, &apos;YES&apos;)</expression>
    </formulas>
    <formulas>
        <name>ZoomInfoNoOfLocations</name>
        <dataType>Number</dataType>
        <expression>IF(AND(NOT(ISBLANK({!sobjZoomInfo.DOZISF__Number_of_Locations__c})), ISNUMBER({!sobjZoomInfo.DOZISF__Number_of_Locations__c})), VALUE({!sobjZoomInfo.DOZISF__Number_of_Locations__c}), 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update ZoomInfo Related Account Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update ZoomInfo Related Account Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Industry_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_ZoomInfo_Record_For_Account</name>
        <label>Get Latest ZoomInfo Record For Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_ZoomInfo_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DOZISF__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DOZISF__ZoomInfo__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Fields_To_Blank</name>
        <label>Update Account Fields To Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>If_Account_Update_List_Not_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annual_Revenue__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Budget__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Locations_ZoomInfo__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Industry__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_List</name>
        <label>Update Account List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>lstAccountUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Account_Populated</targetReference>
        </connector>
        <filterFormula>OR(AND(ISNEW(), NOT(ISNULL({!$Record.DOZISF__Account__c}))), AND(NOT(ISNEW()), OR (ISCHANGED({!$Record.DOZISF__Account__c}),ISCHANGED({!$Record.DOZISF__Primary_Industry__c}),ISCHANGED({!$Record.DOZISF__Website__c}),ISCHANGED({!$Record.DOZISF__Number_of_Locations__c}),ISCHANGED({!$Record.DOZISF__Revenue__c}),ISCHANGED({!$Record.DOZISF__IT_Department_Budget__c}))))</filterFormula>
        <object>DOZISF__ZoomInfo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>lstAccountUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjAccountUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjZoomInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DOZISF__ZoomInfo__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
